In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('./datasets/lego_sets.csv')
theme = pd.read_csv('./datasets/parent_themes.csv')

In [60]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [61]:
theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [64]:
merged = df.merge(theme, left_on='parent_theme', right_on='name')
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,50,Town,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,186,Castle,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,Space,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,Space,False

In [63]:
merged = merged.drop(columns='name_y')
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,50,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,186,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False

In [65]:
merged.drop(columns='name_y', inplace=True)
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,50,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,186,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False

In [66]:
licensed = merged[merged['is_licensed']]
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes,482,True

In [67]:
star_wars = licensed[licensed['parent_theme']=='Star Wars']

star_wars.head(50)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
116,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
120,10129-1,Rebel Snowspeeder - UCS,2003,1456.0,Star Wars Episode 4/5/6,Star Wars,158,True
122,10131-1,TIE Fighter Collection,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
125,10134-1,Y-wing Attack Starfighter - UCS,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
126,10143-1,Death Star II,2005,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
127,10144-1,Sandcrawler,2005,1679.0,Star Wars Episode 4/5/6,Star Wars,158,True
156,10174-1,Imperial AT-ST - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
157,10175-1,Vader's TIE Advanced - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
160,10178-1,Motorized Walking AT-AT,2007,1137.0,Star Wars Episode 4/5/6,Star Wars,158,True
161,10179-1,Millennium Falcon - UCS,2007,5195.0,Star Wars Episode 4/5/6,Star Wars,158,True
167,10186-1,General Grievous,2008,1084.0,Star Wars Episode 3,Star Wars,158,True
169,10188-1,Death Star,2008,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
176,10195-1,Republic Dropship with AT-OT,2009,NaN,Star Wars Clone Wars,Star Wars,158,True
179,10198-1,Tantive IV,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
192,10212-1,Imperial Shuttle - UCS,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
196,10215-1,Obi-Wan's Jedi Starfighter - UCS,2010,NaN,Star Wars Episode 2,Star Wars,158,True
202,10221-1,Super Star Destroyer,2011,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
206,10225-1,R2-D2,2012,2130.0,Ultimate Collector Series,Star Wars,158,True
208,10227-1,B-wing Starfighter,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
217,10236-1,Ewok Village,2013,2023.0,Star Wars Episode 4/5/6,Star Wars,158,True
219,10240-1,Red Five X-Wing Starfighter,2013,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
638,11912-1,LEGO Star Wars: Build Your Own Adventure,2016,NaN,Star Wars,Star Wars,158,True
1386,20006-1,Clone Turbo Tank - Mini,2008,64.0,Star Wars Episode 3,Star Wars,158,True
1388,20007-1,Republic Attack Cruiser - Mini,2009,NaN,Star Wars Episode 3,Star Wars,158,True
1390,20009-1,AT-TE Walker - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,True
1392,20010-1,Republic Gunship - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,True
1398,20016-1,Imperial Shuttle - Mini,2010,70.0,Star Wars Episode 4/5/6,Star Wars,158,True
1400,20018-1,AT-AT Walker - Mini,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
1401,20019-1,Slave I,2011,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
1404,20021-1,Bounty Hunter Gunship - Mini,2011,81.0,Star Wars Clone Wars,Star Wars,158,True
1885,2853590-1,Stormtrooper,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
1886,2853835-1,White Boba Fett Figure,2010,NaN,Star Wars,Star Wars,158,True
1902,2856197-1,Shadow ARF Trooper,2011,NaN,Minifig Pack,Star Wars,158,True
1966,30004-1,Battle Droid on STAP,2009,NaN,Star Wars Clone Wars,Star Wars,158,True
1967,30005-1,Imperial Speeder Bike,2009,33.0,Star Wars Episode 4/5/6,Star Wars,158,True
1968,30006-1,Clone Walker,2009,31.0,Star Wars Clone Wars,Star Wars,158,True
2004,30050-1,Republic Attack Shuttle - Mini,2010,54.0,Star Wars Clone Wars,Star Wars,158,True
2006,30051-1,X-wing Fighter - Mini,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
2007,30052-1,AAT - Mini,2011,NaN,Star Wars Episode 2,Star Wars,158,True
2008,30053-1,Republic Attack Cruiser - Mini,2011,41.0,Star Wars Episode 3,Star Wars,158,True
2009,30054-1,AT-ST - Mini,2011,46.0,Star Wars Episode 4/5/6,Star Wars,158,True
2010,30055-1,Vulture Droid - Mini,2011,42.0,Star Wars Episode 3,Star Wars,158,True
2011,30056-1,Star Destroyer,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
2012,30057-1,Anakin's Pod Racer,2012,NaN,Star Wars Episode 1,Star Wars,158,True
2013,30058-1,STAP,2012,19.0,Star Wars,Star Wars,158,True
2014,30059-1,MTT,2012,51.0,Star Wars,Star Wars,158,True

In [68]:
star_wars.shape[0]

609

In [69]:
the_force = star_wars.shape[0]/licensed.shape[0]

In [70]:
print(the_force)

0.4572072072072072

In [71]:
the_force = int(star_wars.shape[0]/licensed.shape[0]*100)
print(the_force)

# incorrect answer (null rows/values have not be cleaned

45

### # clean data

In [72]:
merged[merged['set_num'].isnull()]

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
11833,NaN,NaN,2017,347.0,NaN,Disney Princess,579,True
11834,NaN,NaN,2016,70.0,NaN,Disney Princess,579,True
11835,NaN,NaN,2016,NaN,NaN,Disney Princess,579,True
11836,NaN,NaN,2017,304.0,NaN,Super Heroes,482,True
11837,NaN,NaN,2017,196.0,NaN,Super Heroes,482,True
...,...,...,...,...,...,...,...,...
11981,NaN,NaN,2014,NaN,NaN,Minecraft,577,True
11982,NaN,NaN,2006,NaN,NaN,Super Heroes,482,True
11983,NaN,NaN,2017,NaN,NaN,Minecraft,577,True
11984,NaN,NaN,2017,8.0,NaN,Super Heroes,482,True
11985,NaN,NaN,2003,NaN,NaN,Harry Potter,246,True

In [73]:
merged[merged['set_num'].isnull()].shape

(153, 8)

In [74]:
licensed = licensed.dropna(subset=['set_num'])

In [75]:
the_force = int(star_wars.shape[0]/licensed.shape[0]*100)
print(the_force)

#correct answer

51

### Task 2: In which year was Star Wars not the most popular licensed theme(in terms of number of sets released that year)?

In [76]:
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes,482,True

In [87]:
licensed_sorted = licensed.sort_values('year')

In [88]:
licensed_sorted.groupby(['year', 'parent_theme'])
licensed_sorted.head(50)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
7837,7141-1,Naboo Fighter,1999,179.0,Star Wars Episode 1,Star Wars,158,True
7845,7150-1,TIE Fighter & Y-wing,1999,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
7847,7151-1,Sith Infiltrator,1999,244.0,Star Wars Episode 1,Star Wars,158,True
7815,7131-1,Anakin's Podracer,1999,136.0,Star Wars Episode 1,Star Wars,158,True
7856,7161-1,Gungan Sub,1999,379.0,Star Wars Episode 1,Star Wars,158,True
7804,7130-1,Snowspeeder,1999,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
7866,7171-1,Mos Espa Podrace,1999,NaN,Star Wars Episode 1,Star Wars,158,True
7799,7128-1,Speeder Bikes,1999,93.0,Star Wars Episode 4/5/6,Star Wars,158,True
7607,7101-1,Lightsaber Duel,1999,NaN,Star Wars Episode 1,Star Wars,158,True
7728,7110-1,Landspeeder,1999,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
7730,7111-1,Droid Fighter,1999,NaN,Star Wars Episode 1,Star Wars,158,True
7836,7140-1,X-wing Fighter,1999,271.0,Star Wars Episode 4/5/6,Star Wars,158,True
7752,7121-1,Naboo Swamp,1999,82.0,Star Wars Episode 1,Star Wars,158,True
7824,7134-1,A-wing Fighter,2000,125.0,Star Wars Episode 4/5/6,Star Wars,158,True
2525,3341-1,Star Wars #2 - Luke/Han/Boba Minifig Pack,2000,25.0,Star Wars Episode 4/5/6,Star Wars,158,True
11822,VP-8,Star Wars Co-Pack of 7130 and 7150,2000,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
7724,7104-1,Desert Skiff,2000,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3810,4178-1,Mickey's Fishing Adventure,2000,107.0,Disney's Mickey Mouse,Disney's Mickey Mouse,388,True
3797,4167-1,Mickey's Mansion,2000,123.0,Disney's Mickey Mouse,Disney's Mickey Mouse,388,True
3796,4166-1,Mickey's Car Garage,2000,90.0,Disney's Mickey Mouse,Disney's Mickey Mouse,388,True
3795,4165-1,Minnie's Birthday Party,2000,85.0,Disney's Mickey Mouse,Disney's Mickey Mouse,388,True
3794,4164-1,Mickey's Fire Engine,2000,NaN,Disney's Mickey Mouse,Disney's Mickey Mouse,388,True
3705,4151270-1,Star Wars Co-Pack of 7121 and 7111,2000,2.0,Star Wars Episode 1,Star Wars,158,True
2527,3343-1,Star Wars #4 - Battle Droid Minifig Pack,2000,33.0,Star Wars Episode 1,Star Wars,158,True
2526,3342-1,Star Wars #3 - Troopers/Chewie Minifig Pack,2000,25.0,Star Wars Episode 4/5/6,Star Wars,158,True
7780,7124-1,Flash Speeder,2000,107.0,Star Wars Episode 1,Star Wars,158,True
7732,7115-1,Gungan Patrol,2000,79.0,Star Wars Episode 1,Star Wars,158,True
2523,3340-1,Star Wars #1 - Sith Minifig Pack,2000,30.0,Star Wars Episode 1,Star Wars,158,True
11818,VP-4,Star Wars Co-Pack of 7101 7111 and 7171,2000,3.0,Star Wars Episode 1,Star Wars,158,True
11772,swminifigs-1,Star Wars Minifig Packs 4-Pack,2000,4.0,Star Wars Other,Star Wars,158,True
9169,8001-1,Battle Droid™ / Star Wars Battle Droid,2000,336.0,Star Wars,Star Wars,158,True
9167,8000-1,Pit Droid™ / Star Wars Pit Droid,2000,NaN,Star Wars,Star Wars,158,True
11810,VP-11,Star Wars Co-Pack of 7101 7111 and 7131,2000,NaN,Star Wars Episode 1,Star Wars,158,True
7883,7191-1,X-wing Fighter - UCS,2000,1302.0,Star Wars Episode 4/5/6,Star Wars,158,True
7882,7190-1,Millennium Falcon,2000,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
7840,7144-1,Slave I,2000,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
11811,VP-12,Star Wars Co-Pack of 7121 and 7151,2000,2.0,Star Wars Episode 1,Star Wars,158,True
7876,7181-1,TIE Interceptor - UCS,2000,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
7875,7180-1,B-wing at Rebel Control Center,2000,346.0,Star Wars Episode 4/5/6,Star Wars,158,True
11817,VP-3,Star Wars Co-Pack of 7131 and 7151,2000,2.0,Star Wars Episode 1,Star Wars,158,True
7854,7159-1,Star Wars Podracing Bucket,2000,NaN,Star Wars Episode 1,Star Wars,158,True
7850,7155-1,Trade Federation AAT,2000,159.0,Star Wars Episode 1,Star Wars,158,True
7877,7184-1,Trade Federation MTT,2000,NaN,Star Wars Episode 1,Star Wars,158,True
9171,8002-1,Destroyer Droid™ / Star Wars Destroyer Droid,2000,NaN,Star Wars,Star Wars,158,True
4430,4702-1,The Final Challenge,2001,NaN,Sorcerer's Stone,Harry Potter,246,True
4429,4701-1,Sorting Hat,2001,NaN,Sorcerer's Stone,Harry Potter,246,True
7842,7146-1,TIE Fighter,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
9177,8008-1,Stormtrooper™,2001,NaN,Star Wars,Star Wars,158,True
4431,4704-1,The Chamber of the Winged Keys,2001,180.0,Sorcerer's Stone,Harry Potter,246,True
11816,VP-2,Star Wars Co-Pack of 7110 and 7144,2001,2.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [89]:
licensed_sorted.groupby(['year', 'parent_theme'])
licensed_sorted['count'] = 1

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed,count
7837,7141-1,Naboo Fighter,1999,179.0,Star Wars Episode 1,Star Wars,158,True,1
7845,7150-1,TIE Fighter & Y-wing,1999,NaN,Star Wars Episode 4/5/6,Star Wars,158,True,1
7847,7151-1,Sith Infiltrator,1999,244.0,Star Wars Episode 1,Star Wars,158,True,1
7815,7131-1,Anakin's Podracer,1999,136.0,Star Wars Episode 1,Star Wars,158,True,1
7856,7161-1,Gungan Sub,1999,379.0,Star Wars Episode 1,Star Wars,158,True,1

In [92]:
licensed_sorted.groupby(['year', 'parent_theme']).sum()

                                                                         set_num  \
year parent_theme
1999 Star Wars                 7141-17150-17151-17131-17161-17130-17171-17128...
2000 Disney's Mickey Mouse                        4178-14167-14166-14165-14164-1
     Star Wars                 7134-13341-1VP-87104-14151270-13343-13342-1712...
2001 Harry Potter              4702-14701-14704-14705-14722-14707-14708-14709...
     Star Wars                 7146-18008-1VP-28007-165028-165030-165034-1710...
...                                                                          ...
2017 Disney Princess                  41147-141143-141144-141145-141146-141148-1
     Minecraft                 21135-121133-121136-121137-121134-121129-12113...
     Pirates of the Caribbean                                            71042-1
     Star Wars                 SW911727-1SW911722-130611-130497-130496-1SW911...
     Super Heroes              5004930-15004929-1211701-141234-141233-170900-...

                                                                          name_x  \
year parent_theme
1999 Star Wars                 Naboo FighterTIE Fighter & Y-wingSith Infiltra...
2000 Disney's Mickey Mouse     Mickey's Fishing AdventureMickey's MansionMick...
     Star Wars                 A-wing FighterStar Wars #2 - Luke/Han/Boba Min...
2001 Harry Potter              The Final ChallengeSorting HatThe Chamber of t...
     Star Wars                 TIE FighterStormtrooper™Star Wars Co-Pack of 7...
...                                                                          ...
2017 Disney Princess           Anna's Snow AdventureBerry's KitchenPetite's R...
     Minecraft                 The Crafting Box 2.0The Witch HutThe Ocean Mon...
     Pirates of the Caribbean                                        Silent Mary
     Star Wars                 Rey's SpeederTIE Advanced foil packR2-D2First ...
     Super Heroes              Accessory packBatman Battle PodBatmanBumblebee...

                               num_parts  \
year parent_theme
1999 Star Wars                    1384.0
2000 Disney's Mickey Mouse         405.0
     Star Wars                    2580.0
2001 Harry Potter                 1284.0
     Star Wars                    2949.0
...                                  ...
2017 Disney Princess               347.0
     Minecraft                    5264.0
     Pirates of the Caribbean     2286.0
     Star Wars                    7583.0
     Super Heroes                13123.0

                                                                      theme_name  \
year parent_theme
1999 Star Wars                 Star Wars Episode 1Star Wars Episode 4/5/6Star...
2000 Disney's Mickey Mouse     Disney's Mickey MouseDisney's Mickey MouseDisn...
     Star Wars                 Star Wars Episode 4/5/6Star Wars Episode 4/5/6...
2001 Harry Potter              Sorcerer's StoneSorcerer's StoneSorcerer's Sto...
     Star Wars                 Star Wars Episode 4/5/6Star WarsStar Wars Epis...
...                                                                          ...
2017 Disney Princess           Disney PrincessDisney PrincessDisney PrincessD...
     Minecraft                 MinecraftMinecraftMinecraftMinecraftMinecraftM...
     Pirates of the Caribbean                           Pirates of the Caribbean
     Star Wars                 Star Wars Episode 7Star WarsStar WarsMiniStar ...
     Super Heroes              BatmanBatmanBatmanSuper HeroesSuper HeroesBatm...

                                  id  is_licensed  count
year parent_theme
1999 Star Wars                  2054           13     13
2000 Disney's Mickey Mouse      1940            5      5
     Star Wars                  4108           26     26
2001 Harry Potter               2706           11     11
     Star Wars                  2212           14     14
...                              ...          ...    ...
2017 Disney Princess            3474            6      6
     Minecraft                  5193            9      9
     Pirates of the Caribbean    263            1      1
     Star Wars                  8690           55     55
     Super Heroes              34704           72     72

[83 rows x 7 columns]

In [94]:
licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()

,year,parent_theme,set_num,name_x,num_parts,theme_name,id,is_licensed,count
0,1999,Star Wars,7141-17150-17151-17131-17161-17130-17171-17128...,Naboo FighterTIE Fighter & Y-wingSith Infiltra...,1384.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,2054,13,13
1,2000,Disney's Mickey Mouse,4178-14167-14166-14165-14164-1,Mickey's Fishing AdventureMickey's MansionMick...,405.0,Disney's Mickey MouseDisney's Mickey MouseDisn...,1940,5,5
2,2000,Star Wars,7134-13341-1VP-87104-14151270-13343-13342-1712...,A-wing FighterStar Wars #2 - Luke/Han/Boba Min...,2580.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4108,26,26
3,2001,Harry Potter,4702-14701-14704-14705-14722-14707-14708-14709...,The Final ChallengeSorting HatThe Chamber of t...,1284.0,Sorcerer's StoneSorcerer's StoneSorcerer's Sto...,2706,11,11
4,2001,Star Wars,7146-18008-1VP-28007-165028-165030-165034-1710...,TIE FighterStormtrooper™Star Wars Co-Pack of 7...,2949.0,Star Wars Episode 4/5/6Star WarsStar Wars Epis...,2212,14,14
...,...,...,...,...,...,...,...,...,...
78,2017,Disney Princess,41147-141143-141144-141145-141146-141148-1,Anna's Snow AdventureBerry's KitchenPetite's R...,347.0,Disney PrincessDisney PrincessDisney PrincessD...,3474,6,6
79,2017,Minecraft,21135-121133-121136-121137-121134-121129-12113...,The Crafting Box 2.0The Witch HutThe Ocean Mon...,5264.0,MinecraftMinecraftMinecraftMinecraftMinecraftM...,5193,9,9
80,2017,Pirates of the Caribbean,71042-1,Silent Mary,2286.0,Pirates of the Caribbean,263,1,1
81,2017,Star Wars,SW911727-1SW911722-130611-130497-130496-1SW911...,Rey's SpeederTIE Advanced foil packR2-D2First ...,7583.0,Star Wars Episode 7Star WarsStar WarsMiniStar ...,8690,55,55
82,2017,Super Heroes,5004930-15004929-1211701-141234-141233-170900-...,Accessory packBatman Battle PodBatmanBumblebee...,13123.0,BatmanBatmanBatmanSuper HeroesSuper HeroesBatm...,34704,72,72

In [95]:
summed_df = licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()
summed_df.head()

,year,parent_theme,set_num,name_x,num_parts,theme_name,id,is_licensed,count
0,1999,Star Wars,7141-17150-17151-17131-17161-17130-17171-17128...,Naboo FighterTIE Fighter & Y-wingSith Infiltra...,1384.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,2054,13,13
1,2000,Disney's Mickey Mouse,4178-14167-14166-14165-14164-1,Mickey's Fishing AdventureMickey's MansionMick...,405.0,Disney's Mickey MouseDisney's Mickey MouseDisn...,1940,5,5
2,2000,Star Wars,7134-13341-1VP-87104-14151270-13343-13342-1712...,A-wing FighterStar Wars #2 - Luke/Han/Boba Min...,2580.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4108,26,26
3,2001,Harry Potter,4702-14701-14704-14705-14722-14707-14708-14709...,The Final ChallengeSorting HatThe Chamber of t...,1284.0,Sorcerer's StoneSorcerer's StoneSorcerer's Sto...,2706,11,11
4,2001,Star Wars,7146-18008-1VP-28007-165028-165030-165034-1710...,TIE FighterStormtrooper™Star Wars Co-Pack of 7...,2949.0,Star Wars Episode 4/5/6Star WarsStar Wars Epis...,2212,14,14

In [96]:
summed_df.sort_values('count', ascending=False).drop_duplicates(['year'])

,year,parent_theme,set_num,name_x,num_parts,theme_name,id,is_licensed,count
82,2017,Super Heroes,5004930-15004929-1211701-141234-141233-170900-...,Accessory packBatman Battle PodBatmanBumblebee...,13123.0,BatmanBatmanBatmanSuper HeroesSuper HeroesBatm...,34704,72,72
76,2016,Star Wars,75130-175131-175129-175126-175114-175115-17511...,AT-DPResistance Trooper Battle PackWookiee Gun...,6934.0,Star Wars RebelsStar Wars Episode 7Star Wars R...,9638,61,61
67,2015,Star Wars,SDCC2015-2SW911506-1SW911508-1SW911509-1SW9115...,Dagobah Mini-BuildSnowspeederMini Slave 1Imper...,11410.0,Star WarsStar Wars Episode 4/5/6MiniStar Wars ...,9164,58,58
59,2014,Star Wars,TRUXWINGTIE-130244-130246-130247-1TRUTIE-1TRUG...,"TRU X-Wing Fighter & TIE Fighter (May 3, 2014)...",8293.0,Star Wars OtherMiniStar WarsStar WarsStar Wars...,7110,45,45
47,2012,Star Wars,celebvi-110227-166431-166432-19679-19678-19677...,Boba Fett’s Slave I - Mini - Star Wars Celebra...,6769.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,6794,43,43
32,2009,Star Wars,8016-18018-18019-166308-17752-17751-17749-1803...,Hyena Droid BomberArmored Assault Tank (AAT)Re...,3953.0,Star Wars Clone WarsStar Wars Clone WarsStar W...,6162,39,39
52,2013,Star Wars,comcon032-1MAY2013-110236-110240-175000-175010...,JEK-14 Mini Stealth Starfighter - San Diego Co...,6159.0,Star WarsStar WarsStar Wars Episode 4/5/6Star ...,5530,35,35
9,2003,Star Wars,4481-14480-14479-14478-14476-14475-14207901-14...,Hailfire DroidJabba's PalaceTIE BomberGeonosia...,6660.0,Star WarsStar Wars Episode 4/5/6Star Wars Epis...,5056,32,32
42,2011,Star Wars,7929-17965-130053-17879-130054-17931-130052-17...,The Battle of NabooMillennium FalconRepublic A...,3451.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,5056,32,32
36,2010,Star Wars,8095-18097-18089-18096-18099-18129-18091-18093...,General Grievous’ StarfighterSlave I (Third Ed...,6003.0,Star Wars Clone WarsStar Wars Episode 4/5/6Sta...,4740,30,30
16,2005,Star Wars,K7283-16966-165771-16966-26965-265845-165844-1...,V-wing Space Battle CollectionJedi Starfighter...,4730.0,Star Wars Episode 3MiniStar Wars Episode 3Mini...,4424,28,28
6,2002,Star Wars,4195641-1K7153-1K7204-1K720x-18009-18010-18011...,Star Wars Co-Pack of 7142 and 7152Episode II U...,4735.0,Star Wars Episode 4/5/6Star Wars Episode 2Star...,4424,28,28
2,2000,Star Wars,7134-13341-1VP-87104-14151270-13343-13342-1712...,A-wing FighterStar Wars #2 - Luke/Han/Boba Min...,2580.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4108,26,26
28,2008,Star Wars,20006-110186-18031-18029-18028-17668-17667-110...,Clone Turbo Tank - MiniGeneral GrievousV-19 To...,6865.0,Star Wars Episode 3Star Wars Episode 3Star War...,3634,23,23
12,2004,Star Wars,4501-2K10131-14502-24500-210134-14483-24495-14...,"Mos Eisley Cantina, Original Trilogy Edition b...",1659.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,3160,20,20
24,2007,Star Wars,66221-17664-110179-110178-17665-17662-17654-17...,X-wing Fighter and Luke Pilot Maquette Co-Pack...,11361.0,Star Wars Episode 4/5/6Star Wars OtherStar War...,2528,16,16
4,2001,Star Wars,7146-18008-1VP-28007-165028-165030-165034-1710...,TIE FighterStormtrooper™Star Wars Co-Pack of 7...,2949.0,Star Wars Episode 4/5/6Star WarsStar Wars Epis...,2212,14,14
0,1999,Star Wars,7141-17150-17151-17131-17161-17130-17171-17128...,Naboo FighterTIE Fighter & Y-wingSith Infiltra...,1384.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,2054,13,13
20,2006,Star Wars,7261-210175-110174-16205-16206-16207-16208-162...,Clone Turbo Tank (with Non-Light-Up Mace Windu...,2769.0,Star Wars Episode 3Star Wars Episode 4/5/6Star...,1738,11,11

In [97]:
max_df = summed_df.sort_values('count', ascending=False).drop_duplicates(['year'])

In [98]:
max_df.sort_values('year', inplace=True)
max_df

,year,parent_theme,set_num,name_x,num_parts,theme_name,id,is_licensed,count
0,1999,Star Wars,7141-17150-17151-17131-17161-17130-17171-17128...,Naboo FighterTIE Fighter & Y-wingSith Infiltra...,1384.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,2054,13,13
2,2000,Star Wars,7134-13341-1VP-87104-14151270-13343-13342-1712...,A-wing FighterStar Wars #2 - Luke/Han/Boba Min...,2580.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4108,26,26
4,2001,Star Wars,7146-18008-1VP-28007-165028-165030-165034-1710...,TIE FighterStormtrooper™Star Wars Co-Pack of 7...,2949.0,Star Wars Episode 4/5/6Star WarsStar Wars Epis...,2212,14,14
6,2002,Star Wars,4195641-1K7153-1K7204-1K720x-18009-18010-18011...,Star Wars Co-Pack of 7142 and 7152Episode II U...,4735.0,Star Wars Episode 4/5/6Star Wars Episode 2Star...,4424,28,28
9,2003,Star Wars,4481-14480-14479-14478-14476-14475-14207901-14...,Hailfire DroidJabba's PalaceTIE BomberGeonosia...,6660.0,Star WarsStar Wars Episode 4/5/6Star Wars Epis...,5056,32,32
12,2004,Star Wars,4501-2K10131-14502-24500-210134-14483-24495-14...,"Mos Eisley Cantina, Original Trilogy Edition b...",1659.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,3160,20,20
16,2005,Star Wars,K7283-16966-165771-16966-26965-265845-165844-1...,V-wing Space Battle CollectionJedi Starfighter...,4730.0,Star Wars Episode 3MiniStar Wars Episode 3Mini...,4424,28,28
20,2006,Star Wars,7261-210175-110174-16205-16206-16207-16208-162...,Clone Turbo Tank (with Non-Light-Up Mace Windu...,2769.0,Star Wars Episode 3Star Wars Episode 4/5/6Star...,1738,11,11
24,2007,Star Wars,66221-17664-110179-110178-17665-17662-17654-17...,X-wing Fighter and Luke Pilot Maquette Co-Pack...,11361.0,Star Wars Episode 4/5/6Star Wars OtherStar War...,2528,16,16
28,2008,Star Wars,20006-110186-18031-18029-18028-17668-17667-110...,Clone Turbo Tank - MiniGeneral GrievousV-19 To...,6865.0,Star Wars Episode 3Star Wars Episode 3Star War...,3634,23,23
32,2009,Star Wars,8016-18018-18019-166308-17752-17751-17749-1803...,Hyena Droid BomberArmored Assault Tank (AAT)Re...,3953.0,Star Wars Clone WarsStar Wars Clone WarsStar W...,6162,39,39
36,2010,Star Wars,8095-18097-18089-18096-18099-18129-18091-18093...,General Grievous’ StarfighterSlave I (Third Ed...,6003.0,Star Wars Clone WarsStar Wars Episode 4/5/6Sta...,4740,30,30
42,2011,Star Wars,7929-17965-130053-17879-130054-17931-130052-17...,The Battle of NabooMillennium FalconRepublic A...,3451.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,5056,32,32
47,2012,Star Wars,celebvi-110227-166431-166432-19679-19678-19677...,Boba Fett’s Slave I - Mini - Star Wars Celebra...,6769.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,6794,43,43
52,2013,Star Wars,comcon032-1MAY2013-110236-110240-175000-175010...,JEK-14 Mini Stealth Starfighter - San Diego Co...,6159.0,Star WarsStar WarsStar Wars Episode 4/5/6Star ...,5530,35,35
59,2014,Star Wars,TRUXWINGTIE-130244-130246-130247-1TRUTIE-1TRUG...,"TRU X-Wing Fighter & TIE Fighter (May 3, 2014)...",8293.0,Star Wars OtherMiniStar WarsStar WarsStar Wars...,7110,45,45
67,2015,Star Wars,SDCC2015-2SW911506-1SW911508-1SW911509-1SW9115...,Dagobah Mini-BuildSnowspeederMini Slave 1Imper...,11410.0,Star WarsStar Wars Episode 4/5/6MiniStar Wars ...,9164,58,58
76,2016,Star Wars,75130-175131-175129-175126-175114-175115-17511...,AT-DPResistance Trooper Battle PackWookiee Gun...,6934.0,Star Wars RebelsStar Wars Episode 7Star Wars R...,9638,61,61
82,2017,Super Heroes,5004930-15004929-1211701-141234-141233-170900-...,Accessory packBatman Battle PodBatmanBumblebee...,13123.0,BatmanBatmanBatmanSuper HeroesSuper HeroesBatm...,34704,72,72

In [100]:
# correct answer

new_era = 2017

### Task 3: Break down number of sets by year

In [121]:
clean_df = merged[~merged['set_num'].isnull()]
clean_df['count'] = 1

clean_df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_11884\1132367154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['count'] = 1

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed,count
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False,1
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,50,False,1
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,186,False,1
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False,1
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False,1

In [123]:

clean_df.groupby(['year']).sum().reset_index()[['year', 'count']]

    year  count
0   1950      7
1   1953      4
2   1954     14
3   1955     28
4   1956     12
..   ...    ...
61  2013    593
62  2014    715
63  2015    670
64  2016    608
65  2017    438

[66 rows x 2 columns]

In [124]:
sets_per_year = clean_df.groupby(['year']).sum().reset_index()[['year', 'count']]
sets_per_year.head()

   year  count
0  1950      7
1  1953      4
2  1954     14
3  1955     28
4  1956     12

In [128]:
sets_per_year.head(50)

    year  count
0   1950      7
1   1953      4
2   1954     14
3   1955     28
4   1956     12
5   1957     21
6   1958     42
7   1959      4
8   1960      3
9   1961     17
10  1962     40
11  1963     18
12  1964     11
13  1965     10
14  1966     89
15  1967     21
16  1968     25
17  1969     69
18  1970     29
19  1971     45
20  1972     38
21  1973     68
22  1974     39
23  1975     31
24  1976     68
25  1977     92
26  1978     73
27  1979     82
28  1980     88
29  1981     79
30  1982     76
31  1983     57
32  1984     76
33  1985    139
34  1986    123
35  1987    209
36  1988     68
37  1989    114
38  1990     85
39  1991    106
40  1992    115
41  1993    111
42  1994    128
43  1995    128
44  1996    144
45  1997    194
46  1998    325
47  1999    300
48  2000    327
49  2001    339

In [130]:
for index, row in sets_per_year.iterrows():
    print(row['year'], row['count'])

1950 7
1953 4
1954 14
1955 28
1956 12
1957 21
1958 42
1959 4
1960 3
1961 17
1962 40
1963 18
1964 11
1965 10
1966 89
1967 21
1968 25
1969 69
1970 29
1971 45
1972 38
1973 68
1974 39
1975 31
1976 68
1977 92
1978 73
1979 82
1980 88
1981 79
1982 76
1983 57
1984 76
1985 139
1986 123
1987 209
1988 68
1989 114
1990 85
1991 106
1992 115
1993 111
1994 128
1995 128
1996 144
1997 194
1998 325
1999 300
2000 327
2001 339
2002 447
2003 415
2004 371
2005 330
2006 283
2007 319
2008 349
2009 403
2010 444
2011 502
2012 615
2013 593
2014 715
2015 670
2016 608
2017 438